.socials {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.socials > .icon {
  width: 60px;
  height:60px;
  line-height: 60px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  transition: all 0.5s;
}

.socials > .icon:hover {
  background-color: #fff;
  color: var(--primary-color);
  
}